body{
    background: #fef;
}

#contentg {
    font-family: 'Calibri';
    font-size: 40px;
    text-align: center;
}
#content{
    width: 400px;
    background: #abc;
    padding: 20px;
    padding-top: 0;
    font-family: 'Calibri';
    font-size: 18px;
    color: #444;
    margin: 0 auto;
}


#button{
    background: #1435;
    color: #abc;
    font-family: 'Franklin Gothic Medium';
    display: block;
    width: 140px;
    font-size: 24px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}

input {
    height: 20px;
}

.button
{
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}
