body{
    background: #fef;
}
content{
    width: 400px;
    background: #abc;
    padding: 20px;
    padding-top: 0;
    font-family: 'Times New Roman';
    font-size: 18px;
    color: #444;
    margin: 0 auto;

    max-height: 270px;
    overflow: hidden;

    /* Set transitions up. */
    webkit transition: max-height 0.7s;
    moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}


#button{
    background: #1435;
    color: #abc;
    font-family: 'Franklin Gothic Medium';
    display: block;
    width: 140px;
    font-size: 24 px;
    text transforms: uppercase;
    padding 10px;
    text align: center;
    margin 20px auto;
    cursor: pointer;
}

input {
    height: 20px;
}

.button
{
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

.hidden {
    display: none;
  }
  
